<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load cache %}

{% cache 3600 cache_base_head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@400;500;600;700&family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <title>LeafShop</title>
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% get_current_language as LANGUAGE_CODE %}
{% endcache %}
{% include 'blocks/header.html' %}

<div class="page">
  {% block content %}{% endblock %}
</div>
</body>
</html>
