{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="gradient_background">
      <div class="container">
        <div class="container_separator">
            <div class="order_form">
                <div class="breadcrumbs">
                    <a href="{% url 'shop:cart_detail' %}" class="breadcrumbs_item">{% trans 'Cart' %}</a>
                    <div class="breadcrumbs_item__arrow"></div>
                    <a href="{% url 'shop:order_information' %}" class="breadcrumbs_item">{% trans 'Information' %}</a>
                    <div class="breadcrumbs_item__arrow"></div>
                    <a href="{% url 'shop:order_payment' %}" class="breadcrumbs_item" style="text-decoration-line: underline;">{% trans 'Payment' %}</a>
                </div>
                <div class="shipping_info">
                    <div class="shipping_info__inside">
                        <div class="shipping_info__title">{% trans 'Contact' %}</div>
                        <div class="shipping_info__value">{{ order.email }}</div>
                        <hr class="shipping_info__hr">
                        <div class="shipping_info__title">{% trans 'Ship to' %}</div>
                        <div class="shipping_info__value">{{ order.shipping_address }}</div>
                        <hr class="shipping_info__hr">
                        <div class="shipping_info__value shipping_info__value__address">{{ order.shipping_province }}, {{ order.shipping_postal }}</div>
                    </div>
                </div>
                <hr class="order_form__hr" style="margin: 52px 0;">
                <h2 class="payment__title">{% trans 'Payment' %}</h2>
                <div class="payment__content">{% trans 'Please make a payment at ATM or using online banking application' %}</div>
                <div class="payment__bank">
                    <div class="payment__bank__inside">
                        <div class="payment__bank__title">Bank transfer</div>
                        <div class="payment__bank__item">Bank Name: {{ bank_props.bank_name }}</div>
                        <div class="payment__bank__item">Account Number: {{ bank_props.account_number }}</div>
                        <div class="payment__bank__item">Cardholder Name: {{ bank_props.cardholder_name }}</div>
                        <div class="payment__bank__item" style="margin-top: 60px;">Scan QR-code below to proceed with your payment.</div>
                        <img src="{% static 'media/payment_qr.png' %}" alt="" class="payment__bank__qr">
                    </div>
                </div>
                <hr class="order_form__hr" style="margin: 52px 0;">
                <h2 class="payment__title">{% trans 'Billing Address' %}</h2>
                <div class="payment__content">{% trans 'Select the address that matches your card or payment method' %}</div>
                <form method="post" action="{% url 'shop:order_payment' %}">
                <div class="payment_form__container">
                        {% csrf_token %}
<!--                        <hr class="payment_form__hr" style="margin: 52px 0;">-->
<!--                        <hr class="payment_form__hr" style="margin: 52px 0;">-->
                        <div class="payment_form__container__inside" style="margin-top: 52px;">
                            <div class="space_between_container space_between_container__form space_between_container__payment">
                                <div class="form_group form_group__payment form_group__payment__first_name" style="width: 48.8%;">
                                    {% render_field form.billing_first_name class="order_form__input" %}
                                    <label class="order_form__label">{% trans 'First Name' %}</label>
                                    {{ form.billing_first_name.error }}
                                </div>
                                <div class="form_group form_group__payment form_group__payment__second_name" style="width: 47.7%;">
                                    {% render_field form.billing_last_name class="order_form__input" %}
                                    <label class="order_form__label">{% trans 'Last Name' %}</label>
                                    {{ form.billing_last_name.error }}
                                </div>
                            </div>
                            <div class="form_group form_group__payment">
                                {% render_field form.billing_address class="order_form__input" %}
                                <label class="order_form__label">{% trans 'Address' %}</label>
                                {{ form.billing_address.error }}
                            </div>
                            <div class="form_group form_group__payment">
                                {% render_field form.billing_city class="order_form__input" %}
                                <label class="order_form__label">{% trans 'City' %}</label>
                                {{ form.billing_city.error }}
                            </div>
                            <div class="space_between_container space_between_container__form space_between_container__payment">
                                <div class="form_group form_group__payment form_group__payment__province" style="width: 64.2%;">
                                    {% render_field form.billing_province class="order_form__input" %}
                                    <label class="order_form__label">{% trans 'Province' %}</label>
                                    {{ form.billing_province.error }}
                                </div>
                                <div class="form_group form_group__payment form_group__payment__postal" style="width: 32%;">
                                    {% render_field form.billing_postal class="order_form__input" %}
                                    <label class="order_form__label">{% trans 'Postal Code' %}</label>
                                    {{ form.billing_postal.error }}
                                </div>
                            </div>
                            <div class="form_group form_group__payment">
                                {% render_field form.billing_phone class="order_form__input" %}
                                <label class="order_form__label">{% trans 'Phone' %}</label>
                                {{ form.billing_phone.error }}
                                <div class="hint hint__form" style="margin-left: 10px;"><img src="{% static 'media/hint.svg' %}"><div class="hint__label">In case if we need to contact you about your order</div></div>
                            </div>
                        </div>
                </div>
                <input class="btn btn__payment_info" type="submit" value="{% trans 'Continue' %}">
                <a class="order_form__cart_link" href="{% url 'shop:order_information' %}">{% trans 'Return' %}</a>
                </form>
                <div class="tight_footer">
                    {% include 'blocks/simple_footer.html' %}
                </div>
            </div>
            <div class="order_cart">
                <div class="order_cart__inside">
                    {% for product in cart.products_to_cart.all %}
                        {% if product.quantity > 0 %}
                        <div class="order_cart__item">
                            <div style="position: relative;">
                                <img class="order_cart__item__img" src="/media/{{ product.product.image }}">
                                {% if product.quantity > 1 %}
                                    <div class="count_round" {% if product.quantity > 9 %} style="padding-left: 9px;" {% else %} style="padding-left: 12.5px;" {% endif %}>{{ product.quantity }}</div>
                                {% endif %}
                            </div>
                            <div class="order_cart__item__content">
                                <div class="order_cart__item__name">{{ product.product.name }}</div>
                                <div class="order_cart__item__price">{{ product.product.price }} KGS</div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <hr class="payment_form__hr" style="margin-bottom: 31px;">
                    <div style="width: 100%; display: flex; justify-content: space-between;">
                        <div>{% trans 'Subtotal' %}</div>
                        <div style="font-weight: 600;">{{ cart.all_products_sum }} KGS</div>
                    </div>
                    <div style="margin: 29px 0;">{% trans 'Shipping' %}
                        <div class="hint">
                            <img src="{% static 'media/hint.svg' %}">
                            <div class="hint__label hint__label__shipping">
                                Shipping costs will vary between 100-150 kgs, depending on your address and order quantity, and you will have to pay cash on delivery for it.<br>
                                All orders will be shipped within 24 hours.<br>
                                If the payment has been made before 10.00AM, your order will be ship on that day during our business hours. If the payment is paid after 10.00AM, your order will be shipped on the next day.
                            </div>
                        </div>
                    </div>
                    <hr class="payment_form__hr" style="margin-bottom: 31px;">
                    <div style="width: 100%; display: flex; justify-content: space-between; font-size: 24px;">
                        <div>{% trans 'Total' %}</div>
                        <div style="font-weight: 600;">{{ cart.all_products_sum }} KGS</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
